@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Main color */
    --color-white: #ffffff;
    --color-black: #222222;
    --color-orange: #ea5708;

    /* additional color */
    --color-light-silver: #d7d7d7;
    --color-ghost-white: #c6c0c0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;

    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    color: var(--color-black);
    font-size: 16px;
    line-height: 0.9;

    border-color: var(--color-white);
}

a {
    color: var(--color-black);
    text-decoration: none;
    transition: ease 0.3s;
}

a:hover {
    color: var(--color-orange);
}

p {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 160px;
}

.descriptor {
    display: inline-flex;
    align-items: center;
    gap: 10.5px;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
}
.descriptor::before {
    content: '';
    width: 8px;
    height: 8px;

    background-image: url(../images/orangeCircle.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main__title {
    font-size: 100px;
    width: 1190px;
    text-indent: 400px;
    margin: 0;
    font-weight: 400;
}

.button {
    all: unset;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: var(--color-white);
    border: none;
    background-color: var(--color-orange);
    cursor: pointer;
    padding: 15.5px 54px;
    border-radius: 5px;
    transition: ease 0.3s;
}

.button:hover {
    scale: 1.05;
}

/* -----------------------
        HEADER
----------------------- */
.header {
    margin: 30px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 40px;
}
.header__link {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -0.3px;
}
.burger__menu {
    display: flex;
    gap: 10px;
    transition: ease 0.3s;
}

.burger__menu a {
    font-size: 24px;
    color: var(--color-white);
    background-color: #222222;
    border-radius: 10px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}
.burger__menu a:hover {
    color: var(--color-orange);
}

.burger__menu button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: end;
}

.burger__menu .burger__menu-icon:hover {
    transition: ease 0.3s;

    scale: 1.1;
}

/* -----------------------
        MAIN SECTION welcome
----------------------- */

.welcome {
    position: relative;
    background: url(../images/mainBackgtound.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.welcome::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.welcome__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    padding-top: 479px;
    padding-bottom: 60px;
    align-items: last baseline;
    justify-content: space-between;
}
.welcome__title {
    font-size: 184px;
    width: 1100px;
    color: var(--color-white);
    font-weight: 400;
}
.welcome__items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 77px;
}
.welcome__text {
    font-size: 28px;
    font-weight: 500;
    width: 380px;

    color: var(--color-white);
}
.welcome__button {
    margin: 0;
    padding: 0;
    transition: ease 0.3s;
}

.welcome__button:hover {
    scale: 1.05;
}

/* -----------------------
        MAIN SECTION about us
----------------------- */

.aboutUs {
    margin-top: 150px;
}

.aboutUs__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.aboutUs__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.aboutUs__img-wrapper {
    display: flex;
    gap: 11px;
}

.aboutUs__image {
    height: 230px;
    width: 187px;

    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.aboutUs__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutUs__paragraph-wrapper {
    display: flex;
    gap: 20px;
}

.aboutUs__paragraph-wrapper p {
    width: 385px;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.aboutUs__text-wrapper .button {
    margin-top: 45.5px;
}

.aboutUs3__img {
    width: 790px;
    height: 370px;
    margin-top: 60px;

    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

/* -----------------------
        MAIN SECTION services
----------------------- */

.services {
    margin-top: 150px;
}

.services__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.services__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.services__item {
    width: 345px;
    border-left: 1px solid var(--color-ghost-white);
    padding-left: 20px;
}

.services__item-wrapper:last-child {
    border-right: 1px solid var(--color-ghost-white);
}

.services__img {
    height: 187px;
    width: 186px;

    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}
.services__item-title {
    width: 300px;
    height: 205px;
    font-size: 54px;
    font-weight: 400;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 100px;
}
.services__link {
    font-size: 32px;
    color: var(--color-orange);
}

/* -----------------------
        MAIN SECTION advantages
----------------------- */

.advantages {
    position: relative;
    /* background: url(../video/IMG_1605.MP4); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    margin-top: 160px;
    padding-bottom: 40px;
}
.advantages::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.advantages__wrapper {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
}
.advanteges__title {
    font-size: 100px;
    font-weight: 400;
    color: var(--color-white);
}

.advanteges__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 350px 20px;
    margin-top: 30px;

    padding-top: 315px;
}

.advantages__item-wrapper:nth-child(odd) {
    margin-top: -315px;
}

.advantages__item-wrapper {
    width: 345px;
    height: 240px;
    background-color: rgba(198, 192, 192, 0.5);
    -webkit-backdrop-filter: blur(10px); /* Для Safari */
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
}
.letter2 {
    font-size: 160px;
    font-weight: 400;
    color: var(--color-white);
}
.advantages__item-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: var(--color-white);

    letter-spacing: -0.3px;

    margin: 0;
}
.advanteges__text {
    line-height: 1.2;
    color: var(--color-white);
    margin-top: 8px;
}

/* -----------------------
        MAIN SECTION products
----------------------- */

.products {
    margin-top: 126px;
}

.products__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.products__text {
    width: 460px;
    margin-left: 405px;
    margin-top: 16px;
}

.product__item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img2 .product__item-img {
    transform: scaleX(-1);
}

.product__item-wrapper {
    width: 340px;
    background-color: var(--color-orange);

    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 133px;
}

.card2 {
    background-color: var(--color-ghost-white);
}

.card2 .product__items-title {
    color: var(--color-black);
}

.card2 .product__items-text {
    margin-top: 116px;
    color: var(--color-black);
}

.product__items1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.product__items2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.product__items-title {
    width: 157px;
    font-weight: 400;
    font-size: 40px;
    color: var(--color-white);
    margin: 0;
}
.product__items-text {
    width: 190px;
    letter-spacing: -0.3px;
    line-height: 1.5;
    color: var(--color-white);
    margin-top: 80px;
}
.product__item-img {
    width: 135px;
    height: 177px;

    object-fit: cover;
    object-position: center;
    position: absolute;
    top: -35px;
    right: -40px;
    overflow: visible;
}

.card2 .product__item-img {
    top: 0px;
}

.product__item-wrapper:hover {
    scale: 1.05;
}

/* -----------------------
        MAIN SECTION productionFacilities
----------------------- */

.productionFacilities {
    margin-top: 168px;
}

.productionFacilities__title-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.productionFacilities__quotes {
    font-weight: 400;
    width: 812px;
    font-size: 200px;
}
.productionFacilities__text {
    line-height: 1.2;
    width: 370px;
}

.productionFacilities__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.productionFacilities__item-wrapper {
    margin-top: 150px;
}
.productionFacilities__number {
    color: var(--color-orange);
    font-size: 300px;
    font-weight: 400;
    margin-bottom: -20px;
}
.productionFacilities__number-text {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -0.5px;
}
.productionFacilities__table-wrapper {
    display: flex;
    gap: 1px;
    align-items: end;
    position: absolute;
    top: -142px;
    right: 0;
}

.productionFacilities__table__number {
    font-size: 80px;
    color: var(--color-white);
    background-color: var(--color-orange);

    object-position: center;
    padding: 24px 64px;
}
.textM {
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.secondIt {
    padding: 40px 32px 128px 32px;
}

.thirdIt {
    padding: 40px 15px 228px 15px;
}

.fourthIt {
    padding: 40px 21px 438px 21px;
}

/* -----------------------
        MAIN SECTION partners
----------------------- */

.partners {
    margin-top: 150px;
}

.partners__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.partners__company-wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}
.partners__company-item {
    width: 385px;
    height: 213px;
    background-color: rgba(220, 220, 220, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

/* -----------------------
        MAIN SECTION news
----------------------- */

.news {
    margin-top: 150px;
}

.news__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.news__item-text__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.news__wrapper {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
}

.news__item-wrapper:first-child {
    border-top: 1px solid var(--color-ghost-white);
}

.news__item-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-ghost-white);
}

.news__img {
    width: 248px;
    height: 179px;

    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}
.news__item-title {
    display: flex;
    gap: 20px;
}

.news__data {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    width: 77px;
    text-align: right;
}

.news__data-title {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    width: 306px;
}
.news__item-text {
    width: 380px;
    line-height: 1.2;
}
.news__wrapper .button {
    margin-top: 32px;
    text-align: center;
    font-weight: 400;
}

.news__wrapper .button:hover {
    color: var(--color-black);
    scale: 1.01;
}

/* -----------------------
        MAIN SECTION footer
----------------------- */

.footer {
    margin-top: 140px;
    background-color: var(--color-black);
}

.footer a {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 400;
}

.container {
}
.footer__up-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer__left-wrapper {
    display: flex;
    gap: 335px;
    padding-right: 88.5px;
    border-right: 1px solid var(--color-ghost-white);
    padding-top: 40px;
    padding-bottom: 335px;
}
.footer__link {
    font-size: 24px;
    font-weight: 400;
}

.footer__link:hover {
    opacity: 0.5;
}

.footer__left-items__link {
    display: flex;
    gap: 71px;
    margin-bottom: 24px;
}

.second__footer {
    gap: 77px;
}

.footer__news-link {
    width: 124px;
}

.footer__right-wrapper {
    padding-top: 40px;
    display: flex;
    gap: 28px;
}
.mail {
    font-size: 24px;
    font-weight: 400;
}

.mail:hover {
    opacity: 0.5;
}

.footer__number {
    font-size: 24px;
    font-weight: 400;
}

.footer__right-wrapper .documentation {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-black);
    padding: 15px 25px;
    border-radius: 5px;
    background-color: var(--color-white);
    height: 20px;
}

.footer__right-wrapper .documentation:hover {
    opacity: 0.5;
}

.footer__down-wrapper {
    border-top: 1px solid var(--color-ghost-white);
    padding-bottom: 60px;
}
.signature__wrapper {
    display: flex;
    gap: 20px 280px;
    flex-wrap: wrap;
    margin-top: 74px;
}
.signature {
    color: var(--color-ghost-white);
    font-size: 16px;
    font-weight: 400;
    width: 133px;
}
.signature__named {
    color: var(--color-ghost-white);
    font-size: 24px;
    font-weight: 400;
    width: 160px;
}

.secondSignature {
    width: 302px;
}

.footer__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 68px;
}
.footer__logo-img {
    border: 3px solid var(--color-white);
    border-radius: 15px;
    padding: 64px 25px;
}
.footer__logo-text {
    font-size: 300px;
    color: var(--color-white);
}
.form-button {
    position: relative;
    width: 331px;
    height: 229px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: ease 0.3s;
}

.form-button:hover {
    scale: 1.1;
}

.form-button img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.form-button h4 {
    position: absolute;

    font-family: 'Bebas Neue', sans-serif;
    width: 144px;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.9;
    text-align: left;

    bottom: 20px;
    left: 20px;
    margin: 0;
}
