@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Main color */
    --color-white: #ffffff;
    --color-black: #222222;
    --color-orange: #ea5708;

    /* additional color */
    --color-light-silver: #d7d7d7;
    --color-ghost-white: #c6c0c0;
}

h1 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;

    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    color: var(--color-black);
    font-size: 16px;
    line-height: 0.9;

    border-color: var(--color-white);
}

a {
    color: var(--color-black);
    text-decoration: none;
    transition: ease 0.3s;
}

a:hover {
    color: var(--color-orange);
}

p {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 160px;
}

.descriptor {
    display: inline-flex;
    align-items: center;
    gap: 10.5px;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
}
.descriptor::before {
    content: '';
    width: 8px;
    height: 8px;

    background-image: url(../images/orangeCircle.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main__title {
    font-size: 100px;
    width: 1190px;
    text-indent: 400px;
    margin: 0;
    font-weight: 400;
}

.button {
    all: unset;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: var(--color-white);
    border: none;
    background-color: var(--color-orange);
    cursor: pointer;
    padding: 15.5px 54px;
    border-radius: 5px;
    transition: ease 0.3s;
}

.button:hover {
    scale: 1.05;
}

/* -----------------------
        HEADER
----------------------- */
.header {
    margin: 30px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 40px;
}
.header__link {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -0.3px;
}
.burger__menu {
    display: flex;
    gap: 10px;
    transition: ease 0.3s;
}

.burger__menu a {
    font-size: 24px;
    color: var(--color-white);
    background-color: #222222;
    border-radius: 10px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}
.burger__menu a:hover {
    color: var(--color-orange);
}

.burger__menu button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: end;
}

.burger__menu .burger__menu-icon:hover {
    transition: ease 0.3s;

    scale: 1.1;
}

/* -----------------------
        MAIN SECTION welcome
----------------------- */

.welcome {
    position: relative;
    background: url(../images/mainBackgtound.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.welcome::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.welcome__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    padding-top: 479px;
    padding-bottom: 60px;
    align-items: last baseline;
    justify-content: space-between;
}
.welcome__title {
    font-size: 184px;
    width: 1100px;
    color: var(--color-white);
    font-weight: 400;
}
.welcome__items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 77px;
}
.welcome__text {
    font-size: 28px;
    font-weight: 500;
    width: 380px;

    color: var(--color-white);
}
.welcome__button {
    margin: 0;
    padding: 0;
    transition: ease 0.3s;
}

.welcome__button:hover {
    scale: 1.05;
}

/* -----------------------
        MAIN SECTION about us
----------------------- */

.aboutUs {
    margin-top: 150px;
}
.container {
}
.aboutUs__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.aboutUs__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.aboutUs__img-wrapper {
    display: flex;
    gap: 11px;
}

.aboutUs__image {
    height: 230px;
    width: 187px;

    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.aboutUs__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutUs__text-wrapper p {
}

.aboutUs__paragraph-wrapper {
    display: flex;
    gap: 20px;
}

.aboutUs__paragraph-wrapper p {
    width: 385px;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.aboutUs__text-wrapper .button {
    margin-top: 45.5px;
}

.aboutUs3__img {
    width: 790px;
    height: 370px;
    margin-top: 60px;

    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}
